@model CreateProductVM

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create Product</h4>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Name">Product Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <input asp-for="Description" class="form-control" placeholder="Description">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SKU">SKU</label>
                    <input asp-for="SKU" class="form-control" placeholder="SKU">
                    <span asp-validation-for="SKU" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price">Price</label>
                    <input asp-for="Price" class="form-control" placeholder="Price">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CountId">Order</label>
                    <input asp-for="CountId" class="form-control" placeholder="Order">
                    <span asp-validation-for="CountId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId">Category</label>
                    <select asp-for="CategoryId" asp-items="new SelectList(Model.Categories, nameof(Category.Id), nameof(Category.Name))" class="form-control">
                        <option selected disabled>Choose Category</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TagIds">Tags</label>
                    <select asp-for="TagIds" asp-items="new SelectList(Model.Tags, nameof(Tag.Id), nameof(Tag.Name))" class="form-control">
                    </select>
                    <span asp-validation-for="TagIds" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SizeIds">Sizes</label>
                    <select asp-for="SizeIds" asp-items="new SelectList(Model.Sizes, nameof(Size.Id), nameof(Size.Name))" class="form-control">
                    </select>
                    <span asp-validation-for="SizeIds" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ColorIds">Colors</label>
                    <select asp-for="ColorIds" asp-items="new SelectList(Model.Colors, nameof(Color.Id), nameof(Color.Name))" class="form-control">
                    </select>
                    <span asp-validation-for="ColorIds" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <a asp-action="Index" asp-controller="Product" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
</div>
